html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background: #cce6ff;
}

#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #e6f0ff;
    cursor: crosshair;
}

canvas {
    display: block;
    background: transparent;
}

.snow-fort {
    width: 300px;
    height: 200px;
    background-color: #f0f8ff;
    margin: 20px auto;
    border: 10px solid transparent;
    border-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><path d="M0,50 Q15,10 30,50 T60,50 T90,50 T120,50" fill="none" stroke="black" stroke-width="10"/></svg>') 30;
    border-image-slice: 1;
}